{% extends "base.html" %}

{% block title %}Virtual Dig{% endblock %}

{% block head_includes %}
<script src="static/js/jQueryRotate.js"></script>
<script src="static/js/virtualdig.js"></script>
{% endblock %}

{% block content %}
<div id="digarea"></div>
<button id="giveUp" class="btn btn-success btn-lg" type="button" onclick="giveup();">I'm done!</button>
<button id="toggleResults" class="btn btn-primary btn-lg" type="button" data-toggle="collapse" data-target="#digresults" aria-expanded="false" aria-controls="digresults">Show Collection!</button>
<div id="digresults" class="collapse">
    <h1>Collection</h1>
    <h3 style="text-align: center;" id="digCounter"></h3>
</div>
<div id="instructions" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalLabel">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" aria-label="Close" data-dismiss="modal" type="button">x</button>
                <h2 id="modalLabel" class="modal-title">Citizen Science Instructions</h2>
            </div>
        <div class="modal-body">
            <h3>Welcome to Citizen Science!</h3>
            <p>Your goal in this game is to <strong>find all of the teeth</strong>!</p>
            <p>You will scroll around the page, and <strong>click on teeth to place them in the collection</strong>. You can move left, right, up, and down in your search.</p>
            <p>There is a button in the top, right-hand corner of the screen titled <strong>Show Collection!</strong>. This button will show you how many teeth you have collected.</p>
            <p><strong>When you are finished</strong>, open your collection, and continue on to measure the teeth you found!</p>
<fieldset>
<legend> Did You Know?! </legend>
	    <b><i><div id="jss"></div></i></b>
</fieldset>       


 </div>
       
 <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>
  </div>
</div>
{% endblock %}
