/** GLOBAL **/
body {
	padding-top: 50px;
}

/** VIRTUALDIG **/
div#digarea {
	float: left;
	background-color: #333;
	text-align: center;
	height: 100%;
	overflow: scroll;
}

div#digresults {
	float: left;
	height: 100%;
}

div#game-container {
	display: inline-block;
	float: none;
	margin: 0 auto;
	width: 90%;
}

div.tooth {
	position: absolute;
	width: 100px;
	height: 100px;
	background-size: contain;
	background-repeat: no-repeat;
	z-index: 5;
}

div.game-section {
	position: absolute;
	background-image: url("../img/test-sediment.jpg");
	background-size: cover;
	z-index: 0;
}

div#digresults > h1 {
	text-align: center;
}

/** HOMEPAGE **/
/* http://benkaminski.com/2013/05/26/responsive-html5-css3-html5-video-background-in-div-no-javascript/ */
#video-container {
	position: absolute;
}

#video-container {
	top:0%;
	left:0%;
	width:100%;
	overflow: hidden;
	z-index: 0;
}

video {
	position:absolute;
	z-index:0;
}

video.fillWidth {
	width: 100%;
}

#homejumbo {
	height: 60%;
	color: #fff;
	text-shadow: 1px 1px #333;
}

#homejumbo > div.container {
	text-align: center;
}

#homejumbo h1 {
	text-shadow: 2px 2px #333;
}

#homejumbo .btn-lg {
	font-size: 28px;
}