[Unit]
Description=Gunicorn instance to serve citizen science website
After=network.target

[Service]
User=root
Group=nginx
WorkingDirectory=/var/www/CitizenScience
Environment="PATH=/var/www/venv/bin"
ExecStart=/var/www/venv/bin/gunicorn --workers 3 --bind unix:/var/www/CitizenScience/project/web.sock --error-logfile /var/www/CitizenScience/logs/gunicorn-error.log --log-file /var/www/CitizenScience/logs/gunicorn.log  -m 007 project.wsgi:app
Restart=always

[Install]
WantedBy=multi-user.target

